*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
}
header{
    font-size: x-large;
    font-weight: 70%;
    padding-top: 4%;
}
img{
    display: block;
    width: 100%;
}
.imagecontainer{
    width: 50%;
}
.house{
    margin-top: 35%;
}
.pig{
    margin-top: 20%;
}
.pot{
    margin-top: 10%;
}
p{
    padding-top: 20px;
    border-bottom: 1px dotted black;
}
.images{
    display: flex;
    justify-content: space-between;
}